@import "bootstrap/bootstrap";
@import "summernote.less";
@import "font-awesome/font-awesome.less";
@import "bootstrap-chosen.less";
@import "jq-ui-bootstrap/jq-ui-bootstrap.less";

body {
    padding: 10px;
    font: 14px "Lucida Grande",Helvetica,Arial,sans-serif;
}

#goTag{
    cursor:pointer;
}

a {
    color: #00B7FF;
}

.bootstrap-tagsinput {
  width: 100% !important;
  margin-top:15px;
  margin-bottom:15px;
}

.embed-responsive-item {
    height: 550px;
    width: 100%;
}

.article-note {
    height: 400px !important;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }

    to {
        transform: scale(1) rotate(360deg);
    }
}

.chosen-container
{
    width:100% !important;
    margin-top:15px !important;
    margin-bottom:15px !important;
}

.header-input
{
     margin-bottom:15px !important;
}
