@model lynx_mine.Model.ArticleModel
@{
    ViewBag.Title = "Index";
}
<div class="col-sm-12">
    @Html.Partial("Search")
</div>
<div class="col-sm-12" id="content">
    @Html.Partial("Manage", Model)
</div>