@model lynx_mine.Model.ArticleModel

@using (Ajax.BeginForm("Manage", "Home", null, new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "manage", InsertionMode = InsertionMode.ReplaceWith }, new { id = "manage" }))
{
    <div class="col-xs-8 col-sm-8">
        <div class="row show-grid header-input">
            <div class="col-xs-10 col-sm-10">
                @Html.TextBoxFor(m => m.Url, new { @class = "form-control", placeholder = "Browse www", id = "url" })
            </div>
            <div class="col-xs-2 col-sm-2">
                <button id="goButton" type="button" data-iframeid="urlIframe" data-textboxid="url" class="btn btn-primary">Search</button>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12"></div>
        <div class="col-xs-12 col-sm-12"></div>
        <div class="col-xs-12 col-sm-12">
            <div class="row show-grid">
                <iframe id="urlIframe" class="embed-responsive-item" src="about:blank"></iframe>
            </div>
        </div>
    </div>
    <div class="col-xs-4 col-sm-4">
        @Html.HiddenFor(x => x.Id)
        @Html.TextAreaFor(x => x.Note)
        @Html.ListBoxFor(x => x.Tags, new MultiSelectList(Model.Tags), new { @class = "chosen-select", data_placeholder = "Tags", multiple = "" })
        <button id="saveButton" type="submit" class="btn btn-primary">Save</button>
        <button id="clearButton" onclick="Reset()" type="reset" class="btn btn-primary">Clear</button>
    </div>
    <script>
        $(function () {
            init_manage_page();
        });
    </script>
}