<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                    Search your tags..
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
                    @using (Ajax.BeginForm("Index", "Search", null, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "content", InsertionMode = InsertionMode.Replace }))
                    {
                        <div class="input-group">
                            <input id="goText" name="term" type="text" class="form-control input-large" placeholder="Search your tag..">
                            <span id="goTag" class="input-group-addon input-large">
                                <button type="submit" class="glyphicon glyphicon-search"></button>
                            </span>
                        </div>
                    }    
            </div>
        </div>
    </div>
</div>