<div class="panel panel-default">
    <div class="panel-heading">Search your tags ...</div>
    <div class="panel-body">
        @using (Ajax.BeginForm("Index", "Search", null, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "content", InsertionMode = InsertionMode.Replace, LoadingElementId = "loader" }))
        {
            <div class="input-group">
                <input name="term" type="text" class="search form-control" placeholder="Search your tag ..." />
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        }
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $(".search").tokenfield({
            autocomplete: {
                source: function (request, response) {
                    $.get("/Tag/Index", {
                        term: request.term
                    }, function (data) {
                        response(data);
                    });
                },
                minLength: 2,
                delay: 200
            }
        });
    });
</script>